
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: #2B3C51;
}
