---
---

//
//  Table of Contents
//  -----------------
//  1. Variables
//  2. General
//  3. Header
//  4. Nav
//  5. Aside
//  6. Main
//  7. Footer
//


//
//  Variables
//

// Fonts

$head-font: Arial;
$para-font: Times;

// Colors

$color-black: #000;
$color-gray: #595959;
$color-white: #fff;
$color-blue: #39C;

//  Scaling Settings

$break-large: 960px;
$break-medium: 720px;
$break-small: 480px;

/* General CSS */

body {

    .container {

        width: $break-large - 100;
        margin: 0 auto;

        @media screen and (max-width: $break-large) {
            width: $break-medium - 50;
        }
        @media screen and (max-width: $break-medium) {
            width: auto;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: $color-black;
        font-family: $head-font;
        margin:0 0 20px;
    }

    p, ul, ol, table, pre, dl {
      margin:0 0 20px;
    }
    img {
      max-width:100%;
    }
    a {
        color: $color-blue;
        text-decoration:none;
        &:hover {
            color: darken($color-blue, 10%);
        }
        small {
            font-size:11px;
            color:#777;
            margin-top:-0.3em;
            display:block;
            &:hover {
                color: lighten($color-gray, 10%);
            }
        }
    }
    margin: 0;
    padding: 50px 0;
    font-family: $para-font;
    background: $color-white;
    color: $color-gray;
}

/* Header */

header {
    h1 {
        font-size: 28px;
    }
    p {
        line-height: 1.4;
    }
    width:200px;
    float:left;
    position:fixed;
    padding: 0 10px;
    @media screen and (max-width: $break-large) {
        float: none;
        position: relative;
        text-align: center;
        width: $break-medium - 50;
        max-width: $break-medium;
        margin: 0 auto;
    }
    @media screen and (max-width: $break-medium) {
        width: auto;
    }
}

/* Nav */

nav {
    a {
        display: block;
        line-height: 24px;
    }
    hr {
        display: none;
        border-color: lighten($color-gray, 90%);
    }
    position: fixed;
    top: 200px;
    font-family: $head-font;
    padding-left: 10px;
    @media screen and (max-width: $break-large) {
        a {
            display: inline-block;
            padding: 0px 10px;
        }
        hr {
            display: block;
        }
        strong {
            display: none;
        }
        float: none;
        position: relative;
        text-align: center;
        top: 0;
    }
}

/* Aside */

/* Main */

main {
    h1 {font-size: 24px;color:$color-black;}
    h2 {font-size: 20px;color:$color-black;}
    h3 {font-size: 16px;color:$color-black;}
    strong {font-weight: bold;}
    blockquote {
        border-left:1px solid #e5e5e5;
        margin:0;
        padding:0 0 0 20px;
        color: darken($color-gray, 5%);
        font-style:italic;
    }
    code, pre {
        font-size: 14px;
        font-family:Bitstream Vera Sans Mono, monospace;
        line-height: 1.5;
        color: darken($color-gray, 15%);
    }
    ul, ol {
        padding: 0 50px;
        li {
            padding: 2px 4px;
        }
    }
    pre {
        padding:8px 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #f8f8f8;
        border-radius:5px;
        border:1px solid #e5e5e5;
        overflow-x: auto;
        height: auto;
    }
    table {
        width:100%;
        border-collapse:collapse;
        th, td {
            text-align:left;
            padding:5px 10px;
            border-bottom:1px solid #e5e5e5;
        }
        dt {
          color:#444;
          font-weight:500;
        }
        th {
          color:#444;
        }
    }
    small {
        font-size:11px;
    }
    hr {
        border:0;
        background:#e5e5e5;
        height:1px;
        margin:0 0 20px;
    }
    font-size: 16px;
    color: $color-gray;
    width:500px;
    float:right;
    padding: 10px 10px;
    padding-bottom:500px;
    @media screen and (max-width: $break-large) {
        h1:first-child {
            text-align: center;
        }
        float: none;
        width: $break-medium - 50;
        padding-bottom:100px;
    }
    @media screen and (max-width: $break-medium) {
        width: auto;
    }
}
/* Footer */
