/***
	RESUME CSS
	terminal version site
	This is just a test of Github!
***/

body {
	margin:0;
	background-color:#2B3C51;
	padding:0 3px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	color:#ccc;
	font-size:14px !important;
	line-height: 16px !important;
	overflow: hidden;
}

br {
	line-height: 16px;
}

pre {
	font-family: 'Roboto Mono', monospace;
}

h1,h2,h3,ul li {
	margin:0;
	font-weight:500;
	font-size:14px !important;
	line-height: 16px !important;
}

p {
	font-weight: 500;
	font-size:14px !important;
	line-height: 16px !important;
	margin:5px 0;
}

a {
	color:#ccc;
	text-decoration:none;
}

a:hover {
	color:#E5DC60;
}

ul {
	list-style:none;
	margin:0;
	padding:0;
}

h2 {
	clear:left;
	padding-top:10px;
	font-weight:bold;
}

h3 {
	margin:20px 0 0;
}

h4 {
	font-size:19px !important;
	line-height: 20px !important;
	font-weight: 300;
	margin:0;
}

h5 {
	font-size:16px !important;
	line-height: 18px !important;
	font-weight: 300;
	margin:0;
}

h6 {
	font-size:15px !important;
	line-height: 17px !important;
	font-weight: 300;
	margin:0;
}


#windowContainer {
	position: absolute;
	background: none;
	z-index: 11;
	top: 20vh;
	left: 20vw;
	height: 60vh;
	width: 60vw;
	box-shadow: 0px 0px 10px 0px #192231;
	border-radius: 10px;
}

#windowTop {
	z-index: 10;
	background: #5E616E;
	position: absolute;
	top: 0;
	left: 0;
	width: 60vw;
	height: 5vh;
	border-radius: 10px 10px 0 0;
}

#windowTop h1 {
	padding: 1.3vh 5vw;
	line-height: 5vh;
	text-align: center;
}

#window {
	z-index: 10;
	border-radius: 0 0 10px 10px;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-right: 2vw;
	padding-left: 2vw;
	background:  #243344;
	position: absolute;
	top: 5vh;
	left: 0;
	width: 56vw;
	height: 51vh;
	overflow: scroll;
}

#resume-container {
	width:100%;
	padding-bottom:16px;
	position:relative;
	margin-right: 20px;
}

#command-line {
	float:left;
	position:absolute;
	left:0;
	bottom:0;
}

.completed-command {
	float:left;
}

#command-line span,
.completed-command span {
	float:left;
	margin-right:5px;
}

#command-line .commands,
.completed-command .commands {
	float:left;
}

#command-line .commands b {
	display:block;
	background-color:#ccc;
	width:0.75em;
	height:1em;
	float:right;

	-webkit-animation: cursor_flash 1s ease-out 0s infinite;
	   -moz-animation: cursor_flash 1s ease-out 0s infinite;
	     -o-animation: cursor_flash 1s ease-out 0s infinite;
	        animation: cursor_flash 1s ease-out 0s infinite;
}

@-webkit-keyframes cursor_flash { 0%, 100% { opacity:1; } 50% { opacity:0; } }
   @-moz-keyframes cursor_flash { 0%, 100% { opacity:1; } 50% { opacity:0; } }
	 @-o-keyframes cursor_flash { 0%, 100% { opacity:1; } 50% { opacity:0; } }
		@keyframes cursor_flash { 0%, 100% { opacity:1; } 50% { opacity:0; } }


.completed-command .commands b {
	display:none;
}
